.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}
.notificatio-btn {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 50px;
}
.notification-item:hover {
  background-color: #ffe9a0 !important;
  transform: scale(1.01);
  transition: 0.15s ease-in-out;
}
body {
  background: linear-gradient(to bottom, #0D0B29, #000);
  min-height: 100vh;
}
.dashboard-card {
  border: none;
}
.card {
  background-color: #202833 !important;
  border-radius: 12px;
}

button:active {
  transform: scale(0.95);
}
.modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
}

.modal-box {
  width: 350px;
  border-radius: 10px;
}
